*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;

    margin: 0;

    color: hsl(0 0% 91%);
    background-color: hsl(0 0% 8%);
    font-family: monospace;
}

p {
    margin: 0;
}

input {
    cursor: pointer;
}

svg {
    --size: 24px;
    width: var(--size);
    height: var(--size);
}

#selection {
    display: grid;
    place-items: center;
    gap: 1rem;
    margin-block-end: 3rem;
}

.range-selection {
    display: flex;
    gap: .25rem;
    flex-wrap: wrap;
    align-items: center;
}

.range-selection label {
    opacity: .8;
}

.range-selection input {
    flex: 1;
}

.range-selection p {
    flex: 1 0 100%;
    text-align: center;
}

#digitDisplay {
    font-size: 1rem;
    font-weight: 900;
}

#selection > button {
    padding: .25rem 2rem;
    color: hsl(0 0% 91%);
    background-color: hsl(220 80% 50%);
    border: none;
    border-radius: .25rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

#selection > button:is(:hover, :focus-visible) {
    background-color: hsl(220 80% 50% / .7);
    transition: background-color 150ms ease-in;
}

#selection > button:is(:active) {
    scale: .95;
    color: hsl(0 0% 91%);
    background-color: hsl(220 80% 50%);
}

#result > div {
    display: flex;
    gap: .25rem;
    background-color: hsl(0 0% 13%);
    padding: 1rem;
    border-radius: .25rem;
}

#result > div > p {
    display: flex;
    align-items: center;

    flex: 1;
    min-height: 3rem;

    padding: .25rem;

    color: hsl(220 80% 50%);
    background-color: hsl(0 0% 88%);
    border-radius: .25rem;
    font-size: 2rem;
}

#result > div > button {
    display: grid;
    place-content: center;
    padding: 0 .6rem;
    color: currentColor;
    background-color: transparent;
    border: 2px solid hsl(0 0% 91% / .2);
    border-radius: .25rem;
    cursor: pointer;
}

#result > div > button:is(:hover, :focus-visible) {
    color: hsl(0 0% 91%);
    background-color: hsl(220 80% 50%);
    transition: background-color 150ms ease-in;
}

#result > div > button:is(:active) {
    scale: .9;
    border: 2px solid hsl(220 80% 50%);
}

dialog[data-toast] {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}
dialog[data-toast].show {
    opacity: 1;
    bottom: 40px;
}